:root {
    --transition-default: 0.2s;
    --animation-delay-05: 0.5s;
    --font-default: Arial, sans-serif;
    --color-primary: #1a9901;
    --color-secondary: #c0e702;
    --color-accent: #d1b725;
    --color-light: #85e072;
    --color-dark: #000000;
    --color-gray: rgba(170, 170, 170, 0.63);
    --color-white: #fff;
    --color-yellow: yellow;
}

html,
body {
    scroll-behavior: smooth;
    
}

* {
    margin: 0;
    padding: 0;
    transition: var(--transition-default);
    font-family: var(--font-default);
}

#intro{
    
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100vw;
    background-color: #1a9901;
    z-index: 10;
    animation: opening 1s linear forwards;
    animation-delay: 5s;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 2rem;
}

#intro h1 {
    margin: 0;
    line-height: 1;
    color: transparent;
    justify-content: center;
    text-align: center;
    margin: 0.625rem;
    font-size: 2.1875rem;
    background-image: linear-gradient(to left, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    background-clip: text;
    animation: titleColor 5s linear infinite;
    background-size: 500%;
    padding-bottom: 0.625rem;
}

#intro div::before {
    content: 'Aguarde 5 segundos';
    animation: count 5s linear forwards;
    color: red;
}

a {
    text-decoration: none;
    color: var(--color-accent);
    transition: var(--animation-delay-05);
}


h2 {

    color: var(--color-primary);
    display: flex;
    justify-content: center;
    margin: 0.625rem;
}

a.active {
    color: var(--color-gray);
    pointer-events: none;

}

a:hover {
    color: var(--color-dark);
}

ul {
    list-style: none;
}

header {
    background-color: var(--color-primary);
    padding: 0.625rem 0.625rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.menu ul {
    margin-right: 5rem;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0.625rem 1.25rem;
    margin: 0 0.3125rem;
    background-color: var(--color-primary);
    border-radius: 0.9375rem;
    display: block;
}

.menu ul li a:hover {
    background-color: var(--color-secondary);
}

main {
    min-height: 100vh;
    background-color: var(--color-secondary);
}

footer {
    background-color: var(--color-primary);
    padding: 1.25rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer div p {
    text-align: justify;
    color: white;
}

footer div {
    padding: 0 1.25rem;
}

footer div:nth-child(2) {
    border: 0.0625rem solid gray;
    border-top: 0;
    border-bottom: 0;
    height: 100%;
}

.rodape ul li {
    padding: 0.3125rem 0;
}

.intro-section p {
    text-align: center;
}

section {
    padding: 1.25rem;
    margin: 0 1.25rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out;
    background-color: rgba(226, 226, 226, 0.863);
    margin-bottom: 0.625rem;
}

.faq-section {
    margin-bottom: 0;
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 0.5rem;
}

.content-grid,
.gallery-grid,
.testimonials-grid,
.content-grid-animate {
    display: grid;
    gap: 1.25rem;
}

.content-grid,
.content-grid-animate {
    margin-top: 0.625rem;
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
}


.content-item,
.testimonial-item,
.faq-item {
    background-color: var(--color-light);
    padding: 1.25rem;
    border-radius: 0.5rem;
    z-index: 2;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.content-item:hover,
.testimonial-item:hover,
.faq-item:hover,
.gallery-grid img:hover {
    transform: scale(1.01);
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.3);
}

.gallery-grid {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    position: relative;
    z-index: 10;
}

.pricing-table {
    width: 100%;
    border-collapse: collapse;
    margin: 1.25rem 0;
}

.pricing-table th,
.pricing-table td {
    padding: 0.9375rem;
    text-align: center;
    border: 0.0625rem solid #333;
}

.pricing-table td {
    background-color: var(--color-primary);
}

.header nav {
    background-color: var(--color-primary);
    padding: 0.625rem 0.625rem;
    width: 100%;
    height: 3.125rem;
}

.header .mobile-icon {
    cursor: pointer;
    display: inline-block;
    padding: 0.625rem 1.25rem 1.25rem 1.25rem;
    position: absolute;
    user-select: none;
}

.header .mobile-icon .hamburguer,
.header .mobile-icon .hamburguerExpand {
    background: var(--color-white);
    display: block;
    height: 0.125rem;
    position: relative;
    transition: background var(--transition-default) ease-out;
    width: 1.125rem;
}

.header .mobile-icon .hamburguer:before,
.header .mobile-icon * .hamburguer2:before,
.header .mobile-icon .hamburguer:after,
.header .mobile-icon .hamburguerExpand:before {
    background: var(--color-white);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all var(--transition-default) ease-out;
    width: 100%;
}

.header .mobile-icon .hamburguer:before,
.header .mobile-icon * .hamburguer2:before,
.header .mobile-icon .hamburguerExpand:before {
    top: 0.3125rem;
}

.header .mobile-icon .hamburguer:after {
    top: -0.3125rem;
}

.header .mobile-btn {
    display: none;
}

.header .mobile-btn:checked~.menu {
    height: 15rem;
}

.header .mobile-btn:checked~.menu ul {
    height: 100%;
    margin: auto;
}

.header .mobile-btn:checked~.mobile-icon .hamburguerExpand {
    transform: translateY(0.3125rem) rotate(45deg);
}

.header .mobile-btn:checked~.mobile-icon .hamburguerExpand:before {
    transform: translateY(-0.3125rem) rotate(90deg);
}

.header .mobile-btn:checked~.mobile-icon .hamburguer {
    background: transparent;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:before {
    transform: translateY(4.7rem);
    left: calc(100vw - 9.9375rem);
    width: 4rem;
    pointer-events: none;
}

.header .mobile-btn:checked~.mobile-icon * .hamburguer2:before {
    transform: translateY(1.6rem);
    left: calc(100vw - 8.75rem);
    width: 2.69rem;
    pointer-events: none;
}

.header .mobile-btn:checked~.mobile-icon .hamburguer:after {
    transform: translateY(7.7rem);
    left: calc(100vw - 8.4375rem);
    width: 2.5rem;
    pointer-events: none;
}

.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:before,
.header .mobile-btn:checked~.mobile-icon:not(.steps) * .hamburguer2:before,
.header .mobile-btn:checked~.mobile-icon:not(.steps) .hamburguer:after {
    top: 0;
}

header.header nav ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.header nav ul li a {
    margin-left: auto;
    display: inline-block;
    padding: 0.9375rem;
}


.switch-checkbox {
    display: none;
}

.switch-checkbox:checked+.switch-label {
    background-color: var(--color-primary);
}

.switch-checkbox:checked+.switch-label::before {
    transform: translateX(1.625rem);
}

.check {
    position: absolute;
    top: 1.25rem;
    left: calc(100% - 5rem);
    width: 3.75rem;
    height: 1.875rem;
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: #181818;
    border: 0.0625rem solid rgb(117, 117, 117);
    z-index: 1;
    overflow: hidden;
    transition: ease-in var(--animation-delay-05);
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.6);
}

input[type="checkbox"]:checked~.check {
    background-color: #ddd;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.6);
}

.check::before {
    content: "";
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    background: #ddd;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transition: var(--animation-delay-05);
}

input[type="checkbox"]:checked~.check::before {
    transform: translateX(-3.125rem);
}

.check::after {
    content: "";
    position: absolute;
    top: 0.1875rem;
    left: 0.1875rem;
    background: #181818;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    transform: translateX(-3.125rem);
}

input[type="checkbox"]:checked~.check::after {
    transform: translateX(0rem);
}

input[type="checkbox"]:checked~* .pricing-table * th {
    background-color: #fec503;
    color: black;
}

input[type="checkbox"]:checked~* {
    color: #fec503;
}

input[type="checkbox"]:checked~* .dark-mode {
    transition: 0.8s;
    background-color: black;
}

input[type="checkbox"]:checked~* .dark-mode * p {
    color: white;
}

input[type="checkbox"]:checked~* section {
    background-color: gray;
}

input[type="checkbox"]:checked~* h2 {
    color: wheat;
}

input[type="checkbox"]:checked~* .content-item,


input[type="checkbox"]:checked~* .testimonial-item,

input[type="checkbox"]:checked~* .faq-item {
    background-color: var(--color-primary);
}


.content-grid-animate {
    padding: 0.625rem;
    position: relative;
    height: 43.75rem;

}

.animation-rain {

    box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2), 0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.19);
    border: 0.125rem solid #bebebe;

    background-color: rgb(104, 104, 255);
}

#field-rain {
    display: grid;
    place-content: center;
}

.nuvem {
    background-color: white;
    width: 20rem;
    height: 6.25rem;
    border-radius: 6.25rem;
    margin-top: 6.25rem
}

.nuvem::before {
    content: '';
    position: absolute;
    top: 3.125rem;
    left: 2.5rem;
    background-color: white;
    height: 6.875rem;
    width: 6.875rem;
    border-radius: 50%;
    box-shadow: 5.625rem 0 0 1.875rem white;
}

.chuva {
    display: flex;
    justify-content: center;
}

.gota1 {
    --i: 11;
}

.gota2 {
    --i: 22;
}

.gota3 {
    --i: 33;
}

.gota4 {
    --i: 44;
}

.gota5 {
    --i: 55;
}

.gota6 {
    --i: 66;
}

.gota7 {
    --i: 77;
}

.gota8 {
    --i: 88;
}

.chuva span {
    background-color: #a4a4df;
    height: 0.625rem;
    width: 0.625rem;
    margin: 0 0.125rem;
    border-radius: 50%;
    animation: chuva 5s linear infinite;
    animation-duration: calc(90s / var(--i));
    transform: translateY(-16.25rem) scale(0);

}

.glass {
    background-color: green;
    width: 100%;
    height: 10rem;
    position: relative;
    z-index: 3;
}

.plant,
.plant1,
.plant2 {
    position: relative;
    top: 8.75rem;
    height: 0;
    width: 70%;
    margin: auto;
}

.plant::before,
.plant1::before,
.plant2::before {
    content: '';
    display: block;
    position: relative;
    top: -15.5625rem;
    width: 0.625rem;
    height: 6.25rem;
    left: calc(50% - 0.3125rem);
    background-color: rgb(24, 182, 3);
    z-index: 1;
}

.plant::after,
.plant1::after,
.plant2::after {
    content: '';
    display: block;
    position: relative;
    top: -30.9375rem;
    width: 0.625rem;
    height: 3.125rem;
    left: calc(50% - 0.3125rem);
    transform: translateX(0.25rem) rotate(5deg);
    background-color: rgb(197, 194, 9);
    border-radius: 40%;
    border: 0.0625rem solid black;
    z-index: 1;
}

#seed:checked~* .plant div::before,
#seed:checked~* .plant1 div::before,
#seed:checked~* .plant2 div::before {
    animation: blossomingLeft 5s linear forwards;
    animation-delay: 17s;
}

#seed:checked~* .plant::after,
#seed:checked~* .plant1::after,
#seed:checked~* .plant2::after {
    animation: blossomingRight 5s linear forwards;
    animation-delay: 17.2s;
}

.plant div::before,
.plant1 div::before,
.plant2 div::before {
    content: '';
    display: block;
    position: relative;
    top: -24.5rem;
    width: 0.625rem;
    height: 3.125rem;
    left: calc(50% - 0.3125rem);
    transform: translateY(0.125rem) translateX(-0.25rem) rotate(-5deg);
    background-color: rgb(197, 194, 9);
    border-radius: 40%;
    border: 0.0625rem solid black;
    z-index: 2;

}

.plant1 {
    transform: translateX(-3.375rem) rotate(-5deg);
}

.plant2 {
    transform: translateX(3.375rem) rotate(5deg);
}

.plant div::after,
.plant1 div::after,
.plant2 div::after {
    content: '';
    display: block;
    position: relative;
    top: -27.8125rem;
    width: 0.625rem;
    height: 3.125rem;
    left: calc(50% - 0.3125rem);
    background-color: rgb(197, 194, 9);
    border-radius: 40%;
    z-index: 1;
    border: 0.0625rem solid black;
}



.seed {
    position: relative;
    bottom: -34.375rem;
    display: block;
    height: 3.125rem;
    width: 3.125rem;
    background-color: rgb(128, 57, 0);
    border-radius: 50% 50% 0% 50%;
    transform: rotate(45deg);
    left: calc(50% - 1.5625rem);
    cursor: pointer;
    z-index: 2;
}

.seed p {
    transform: rotate(-45deg) translateY(-5rem) translateX(0.1875rem);
    color: var(--color-yellow);
    text-align: center;
    font-size: 0.75rem;
}

#seed:checked~.seed {
    animation: plantar 4s linear forwards;
}

#seed:checked~* .plant,
#seed:checked~* .plant1,
#seed:checked~* .plant2 {
    animation: nascer 6s linear forwards;
    animation-delay: 4s;
}

#seed:checked~* .nuvem,
#seed:checked~* .chuva {
    animation: sunrise 6s linear forwards;
    animation-delay: 10s;

}

#seed:checked~* .chuva {
    animation-duration: 1s;
}

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    transition: all 0.4s;
}

.section-modal {
    padding: 0;

}

.modal_item div .back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}

.modal_item {
    border-radius: 0.25rem;
    position: relative;
    width: 50%;
    max-width: 50rem;
    background: var(--color-white);
    padding: 1.5em;
    box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.2);
}


.modal_item div {
    margin: 1.25rem 0rem;
}

.close {
    position: absolute;
    top: 0.625rem;
    right: 0.9375rem;
    color: black;
    text-decoration: none;
    font-size: 1.125rem;
}

.close:hover {
    color: #ff0000;
}

.back {
    color: #585858;
    font-size: 1.125rem;
    text-align: center;
    background-color: #87CEEB;
    border-radius: 0.1875rem;
    transition: background-color 0.3s;
    padding: 5% 45%;
}

.back:hover {
    background-color: #6faec7;
}

.text-changer {
    min-height: 6.25rem;
    display: flex;
    margin: 0.625rem 0;
}

.text-changer::before {
    content: '';
    animation: changertxt 20s ease-in-out infinite;
    color: black;
    font-size: 1.5625rem;
    margin: auto;
}

.sun {
    width: 6.25rem;
    height: 6.25rem;
    background-color: var(--color-yellow);
    border-radius: 50%;
    box-shadow: 0rem 0rem 1.25rem var(--color-yellow);
    position: relative;
    left: calc(50% - 3.125rem);
    top: 6.25rem;
    transition: box-shadow 3s;
}

#seed:checked~* *.sun {
    animation: sunRays 3s linear forwards;
    animation-delay: 15s;
}

.reset {
    color: red;
    cursor: pointer;
    display: none;
}

#seed:checked~* .reset {
    display: flex;
    justify-content: center;
    background-color: yellowgreen;
    font-size: 1.25rem;
    padding: 0.625rem 0;

}


/* ////////////////// */

#seed:checked~* .thunder-container:nth-child(2) {
    position: absolute;
    top: 13.125rem;
    left: calc(50% - 3.75rem);

}

#seed:checked~* .thunder-container {
    position: absolute;
    top: 13.125rem;
    left: calc(50% - 0.3125rem);

}

#seed:checked~* .thunder-container .thunder1 {
    background: none;
    width: 0.9375rem;
    height: 1.875rem;
    position: relative;
    left: 1.125rem;
    top: -0.3125rem;
    transform: skew(-45deg);
    animation: flash 3s linear forwards;

}

#seed:checked~* .thunder-container .thunder2 {
    background: none;
    width: 0.9375rem;
    height: 2.5rem;
    position: relative;
    top: -0.625rem;
    left: 0.125rem;
    transform: skew(-45deg);
    animation: flash 3s linear forwards;
}

#seed:checked~* .thunder-container * {
    background: none;
    animation-delay: 9s;

}

#seed:checked~* .thunder-container:nth-child(2) * {
    background: none;
    animation-delay: 3s;

}

.highlight {
    background-color: blue;
    color: var(--color-white);
    padding: 0.3125rem 0.625rem;
    border-radius: 0.3125rem;
    font-weight: bold;

    position: relative;
    display: inline-block;
    cursor: pointer;
    opacity: 1;

}

.highlight img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlight:hover::before {
    opacity: 1;
    animation: slideIn 0.5s forwards;
}

.highlight:hover::after {
    opacity: 0;
}

.highlight:not(:hover)::after {
    animation: slideOut 0.5s forwards;
}

.highlight::before,
.highlight::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: -350%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 10rem;
    background-color: #fff;
    border: 0.125rem solid #000;
    opacity: 0;
    z-index: 1;
}

.highlight::before,
.highlight::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}



.highlight1::before,
.highlight1::after {
    background-image: url(../imagens/gladson.png);
}


.highlight2::before,
.highlight2::after {
    background-image: url(../imagens/milenio.jpeg);
}



.title h1 {
    margin: 0;
    line-height: 1;
    color: transparent;
    justify-content: center;
    text-align: center;
    margin: 0.625rem;
    font-size: 2.1875rem;
    background-image: linear-gradient(to left, #f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
    background-clip: text;
    animation: titleColor 10s linear infinite;
    background-size: 500%;
    padding-bottom: 0.625rem;
}


.card {
    background: var(--color-white);
    border-radius: 0.9375rem;
    box-shadow: 0 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    background: repeating-linear-gradient(45deg,
            #8B4513,
            #8B4513 0.625rem,
            #A0522D 1.875rem,
            #A0522D 1.25rem);
}

.card-header {
    padding: 1.25rem;
    background: #4caf50;
    color: red;
    text-align: center;
    background-color: #4caf50;
    background:
        repeating-linear-gradient(-40deg,
            #6B8E23,
            #6B8E23 0.625rem,
            #556B2F 0.625rem,
            #556B2F 1.25rem);
}

.card-header h2 {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.404);
    border-radius: 0.375rem;
}

.card-body {
    padding: 1.25rem;
    display: grid;
    grid-template-rows: 31.25rem 3.125rem;
    grid-template-columns: 1fr 1.875rem 1.875rem 1.875rem 1.875rem 1.875rem 1fr;
    align-items: center;
    justify-items: center;
}

div#carousel#carousel {
    grid-row: 1 / 2;
    grid-column: 1 / 8;
    width: 100%;
    height: 31.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform-style: preserve-3d;
    perspective: 62.5rem;
    --items: 6;
    --middle: 3;
    --position: 1;
}

div.item {
    position: absolute;
    width: 18.75rem;
    height: 25rem;
    transition: all var(--animation-delay-05) ease-in-out;
    transform: var(--transform);
    z-index: var(--z-index);
    border: 0.3125rem solid #4caf50;
    /* Green border */
    border-radius: 0.9375rem;
}

div.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.625rem;
}

input[type="radio"] {
    display: none;
}

div.item:nth-of-type(1) {
    --offset: 1;
}

div.item:nth-of-type(2) {
    --offset: 2;
}

div.item:nth-of-type(3) {
    --offset: 3;
}

div.item:nth-of-type(4) {
    --offset: 4;
}

div.item:nth-of-type(5) {
    --offset: 5;
}

div.item:nth-of-type(6) {
    --offset: 6;
}

input:nth-of-type(1):checked~div#carousel#carousel {
    --position: 1;
}

input:nth-of-type(2):checked~div#carousel#carousel {
    --position: 2;
}

input:nth-of-type(3):checked~div#carousel#carousel {
    --position: 3;
}

input:nth-of-type(4):checked~div#carousel#carousel {
    --position: 4;
}

input:nth-of-type(5):checked~div#carousel#carousel {
    --position: 5;
}

input:nth-of-type(6):checked~div#carousel#carousel {
    --position: 6;
}

input:nth-of-type(1):checked~div#carousel#carousel div.item:nth-of-type(1) {
    --transform: translateX(0);
    --z-index: 2;
}

input:nth-of-type(1):checked~div#carousel#carousel div.item:nth-of-type(2) {
    --transform: translateX(18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(1):checked~div#carousel#carousel div.item:nth-of-type(3) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(1):checked~div#carousel#carousel div.item:nth-of-type(4) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
    display: none;
}

input:nth-of-type(1):checked~div#carousel#carousel div.item:nth-of-type(5) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(1):checked~div#carousel#carousel div.item:nth-of-type(6) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(2):checked~div#carousel#carousel div.item:nth-of-type(1) {
    --transform: translateX(-18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(2):checked~div#carousel#carousel div.item:nth-of-type(2) {
    --transform: translateX(0);
    --z-index: 2;
}

input:nth-of-type(2):checked~div#carousel#carousel div.item:nth-of-type(3) {
    --transform: translateX(18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(2):checked~div#carousel#carousel div.item:nth-of-type(4) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(2):checked~div#carousel#carousel div.item:nth-of-type(5) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(2):checked~div#carousel#carousel div.item:nth-of-type(6) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(3):checked~div#carousel#carousel div.item:nth-of-type(1) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(3):checked~div#carousel#carousel div.item:nth-of-type(2) {
    --transform: translateX(-18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(3):checked~div#carousel#carousel div.item:nth-of-type(3) {
    --transform: translateX(0);
    --z-index: 2;
}

input:nth-of-type(3):checked~div#carousel#carousel div.item:nth-of-type(4) {
    --transform: translateX(18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(3):checked~div#carousel#carousel div.item:nth-of-type(5) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(3):checked~div#carousel#carousel div.item:nth-of-type(6) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(4):checked~div#carousel#carousel div.item:nth-of-type(1) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(4):checked~div#carousel#carousel div.item:nth-of-type(2) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(4):checked~div#carousel#carousel div.item:nth-of-type(3) {
    --transform: translateX(-18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(4):checked~div#carousel#carousel div.item:nth-of-type(4) {
    --transform: translateX(0);
    --z-index: 2;
}

input:nth-of-type(4):checked~div#carousel#carousel div.item:nth-of-type(5) {
    --transform: translateX(18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(4):checked~div#carousel#carousel div.item:nth-of-type(6) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(5):checked~div#carousel#carousel div.item:nth-of-type(1) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(5):checked~div#carousel#carousel div.item:nth-of-type(2) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(5):checked~div#carousel#carousel div.item:nth-of-type(3) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(5):checked~div#carousel#carousel div.item:nth-of-type(4) {
    --transform: translateX(-18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(5):checked~div#carousel#carousel div.item:nth-of-type(5) {
    --transform: translateX(0);
    --z-index: 2;
}

input:nth-of-type(5):checked~div#carousel#carousel div.item:nth-of-type(6) {
    --transform: translateX(18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(6):checked~div#carousel#carousel div.item:nth-of-type(1) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(6):checked~div#carousel#carousel div.item:nth-of-type(2) {
    --transform: translateX(100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(6):checked~div#carousel#carousel div.item:nth-of-type(3) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(6):checked~div#carousel#carousel div.item:nth-of-type(4) {
    --transform: translateX(-100vw) scale(0.6);
    --z-index: 0;
}

input:nth-of-type(6):checked~div#carousel#carousel div.item:nth-of-type(5) {
    --transform: translateX(-18.75rem) scale(0.8);
    --z-index: 1;
}

input:nth-of-type(6):checked~div#carousel#carousel div.item:nth-of-type(6) {
    --transform: translateX(0);
    --z-index: 2;
}


.controls {
    grid-row: 2 / 3;
    grid-column: 1 / 8;
    display: flex;
    justify-content: center;
    gap: 0.625rem;
}

.controls label {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #4caf50;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.2);
}

input[type="radio"]:checked+label {
    background-color: #2e7d32;
}

body {
    height: 62.5rem;
}

.flower,
.flower2,
.flower3 {
    position: relative;
    width: 6.25rem;
    height: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -5rem;
}

.flower2 {
    left: 40%;
    transform: rotate(40deg);
}

.flower2 .petal {
    background-color: yellowgreen;
}

.flower3 {
    left: 80%;
    transform: rotate(20deg);
}

.flower3 .petal {
    background-color: violet;
}

.petal {
    position: absolute;
    width: 1.875rem;
    height: 3.125rem;
    background: pink;
    border-radius: 50% 50% 0 0;
    transform-origin: bottom center;
}

.petal:nth-child(1) {
    transform: rotate(0deg);
    top: 0;
    left: 1.25rem;
}

.petal:nth-child(2) {
    transform: rotate(72deg);
    top: 0;
    left: 1.25rem;
}

.petal:nth-child(3) {
    transform: rotate(144deg);
    top: 0;
    left: 1.25rem;
}

.petal:nth-child(4) {
    transform: rotate(216deg);
    top: 0;
    left: 1.25rem;
}

.petal:nth-child(5) {
    transform: rotate(288deg);
    top: 0;
    left: 1.25rem;
}

.center {
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    background: var(--color-yellow);
    border-radius: 50%;
    top: 3.125rem;
    left: -0.9375rem;
}



#seed:checked~.seed p {
    display: none;
}


@media (min-width: 56.25rem) {
    .header .mobile-icon {
        display: none;
    }

    .header .mobile-btn:checked~.menu {
        height: 3.125rem;
    }
}

@media (max-width: 56.25rem) {
    .header nav {
        height: 3.125rem;
    }

    .header nav * {
        animation: none;
        transition: none;
    }

    header.header nav.menu ul {
        display: flex;
        flex-direction: column;
        transition: height 0s;
        height: 0;
    }

    .header .mobile-btn:checked~.menu ul {
        margin-top: 1.875rem;
        transition: 0.3s;
    }
}

@media (max-width: 16.875rem) {
    #animation {
        display: none;
    }

    .controls {
        gap: 0.25rem;
    }

    div#carousel#carousel {
        height: 9.375rem;
    }
}


@media screen and (max-width: 50rem) {
    footer {
        flex-direction: column;
    }

    footer div:nth-child(2) {
        border: 0.0625rem solid gray;
        border-left: 0;
        border-right: 0;
    }

    footer div {
        padding: 0.625rem 0.625rem;
    }
}



@media (max-width: 46.875rem) {
    .modal_item {
        width: 100%;
        max-height: 70vh;
        overflow: auto;
    }
}

@media (max-width: 26.875rem) {

    .nuvem {
        width: 14rem;
        height: 4.375rem;
        border-radius: 4.375rem;
        margin: 8.125rem 0 0 0.75rem;
    }

    .nuvem::before {
        height: 4.8125rem;
        width: 4.8125rem;
        border-radius: 50%;
        box-shadow: 3.9375rem 0 0 1.3125rem white;
        margin: 3.75rem 0 0 0.75rem;
    }

    #evolution table {
        margin: auto;
    }

    #evolution table * {
        padding: 0.0625rem;

        font-size: 0.625rem;
    }
}


@media (max-width: 28.125rem) {
    div.item {
        height: auto;
        width: calc(100vw - 50vw);
    }

    .card-body {
        grid-template-rows: 12.5rem 3.125rem;
    }

    div#carousel#carousel {
        height: 12.5rem;
    }

    .title h1 {
        font-size: 1.25rem;
    }
    #intro h1 {
        font-size: 1.25rem;
    }
}

@media (max-width: 25rem) {
    div.item {
        width: 85%;
    }

    .card-body {
        padding: 0;
    }
}

@media (max-width: 20rem) {
    div.item {
        width: calc(100vw - 50vw);
    }

    div.item a img {
        width: calc(100vw - 50vw);
    }

    div.content-grid {
        grid-template-columns: auto;
    }


    .nuvem {
        width: 9.8125rem;
        height: 3.0625rem;
        border-radius: 3.0625rem;
        margin: 9.375rem 0 0 2.875rem;
    }

    .nuvem::before {
        height: 3.375rem;
        width: 3.375rem;
        border-radius: 50%;
        box-shadow: 2.75rem 0 0 0.875rem white;
        margin: 5rem 0 0 2.875rem;
    }

    .gota2,
    .gota8 {
        display: none;
    }

    .plant1 {
        transform: translateX(-1.875rem) rotate(-5deg);
    }

    .plant2 {
        transform: translateX(1.875rem) rotate(5deg);
    }

    .sun {
        width: 3.75rem;
        height: 3.75rem;
        left: calc(50% - 1.875rem);
    }
    #intro h1{
        font-size: 0.9rem;
    }
}



@keyframes sunrise {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



@keyframes nascer {
    0% {
        top: 8.75rem;
    }

    100% {
        top: 0rem
    }
}

@keyframes plantar {
    10% {
        transform: scale(0.3) rotate(45deg);
    }

    99% {
        transform: scale(0.3) translateY(87.5rem) rotate(45deg);
    }

    100% {
        transform: scale(0.3) translateY(87.5rem) rotate(45deg);
    }
}

@keyframes chuva {


    70% {
        transform: translateY(-16.25rem) scale(1);
    }

    100% {
        transform: translateY(18.75rem) scale(0);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(-50%) translateY(0);
        opacity: 0;
    }

    100% {
        transform: translateX(-50%) translateY(-2.3rem);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(-50%) translateY(-2.3rem);
        opacity: 1;
    }

    100% {
        transform: translateX(-50%) translateY(0);
        opacity: 0;
    }
}

@keyframes flash {
    0% {
        background: none;

    }

    75% {
        background: none;
        box-shadow: none;
    }

    80% {
        background: var(--color-yellow);
        box-shadow: 0rem 0rem 1.25rem var(--color-yellow);
    }

    100% {
        box-shadow: none;

        background: none;
    }
}

@keyframes titleColor {
    0% {
        background-position: 0 100%;
    }

    50% {
        background-position: 100% 0;
    }

    100% {
        background-position: 0 100%;
    }
}

@keyframes blossomingLeft {
    0% {
        left: calc(50% - 0.3125rem);
        transform: translateY(0.125rem) translateX(-0.25rem) rotate(-5deg);
    }

    100% {
        left: calc(50% - 0.3125rem);
        transform: translateY(0.125rem) translateY(0.25rem) translateX(-0.625rem) rotate(-30deg);
    }
}

@keyframes blossomingRight {
    0% {
        left: calc(50% - 0.3125rem);
        transform: translateX(0.25rem) rotate(5deg);
    }

    100% {
        left: calc(50% - 0.3125rem);
        transform: translateY(0.1875rem) translateX(0.625rem) rotate(30deg);

    }
}


@keyframes sunRays {
    0% {
        box-shadow: 0rem 0rem 1.25rem var(--color-yellow);
    }

    100% {
        box-shadow: 0rem 0rem 3.75rem 1.875rem var(--color-yellow);
    }
}

@keyframes changertxt {
    0% {
        content: 'Olá, seja bem vindo ao meu site, o AgroFuturo.';
        opacity: 0.3;
    }

    10% {
        content: 'Olá, seja bem vindo ao meu site, o AgroFuturo.';
        opacity: 1;
    }

    19% {
        content: 'Olá, seja bem vindo ao meu site, o AgroFuturo.';
        opacity: 0;
    }

    20% {
        content: 'Explorando a tecnologia agrícola';
        opacity: 0;
    }

    30% {
        content: 'Explorando a tecnologia agrícola';
        opacity: 1;
    }

    39% {
        content: 'Explorando a tecnologia agrícola';
        opacity: 0;
    }

    40% {
        content: 'Do passado ao futuro';
        opacity: 0;
    }

    50% {
        content: 'Do passado ao futuro';
        opacity: 1;
    }

    59% {
        content: 'Do passado ao futuro';
        opacity: 0;
    }

    60% {
        content: 'Inovações que transformam';
        opacity: 0;
    }

    70% {
        content: 'Inovações que transformam';
        opacity: 1;
    }

    79% {
        content: 'Inovações que transformam';
        opacity: 0;
    }

    80% {
        content: 'A agricultura moderna';
        opacity: 0;
    }

    90% {
        content: 'A agricultura moderna';
        opacity: 1;
    }

    99% {
        content: 'A agricultura moderna';
        opacity: 0;
    }

    100% {
        content: 'Olá, seja bem vindo ao meu site, o AgroFuturo.';
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }


    100% {
        opacity: 1;
    }
}

@keyframes count {
    0%{
        content: 'Aguarde 5 segundos';
    }
    20%{
        content: 'Aguarde 4 segundos';
    }
    40%{
        content: 'Aguarde 3 segundos';
    }
    60%{
        content: 'Aguarde 2 segundos';
    }
    80%{
        content: 'Aguarde 1 segundos';
    }
    100%{
        content: 'Iniciando o site';
    }

}

@keyframes opening {
    0% {
        height: 100vh;
        top: 0;
    }

    99% {
        height: 0vh;
        top: 0;
    }

    100% {
        top: -50px;
        height: 0vh;
        display: none;
    }
}